<?xml version="1.0" ?>
<!--
/**
 * Copyright © RedHunt All rights reserved.
 * See COPYING.txt for license details.
 * contact: hotchand.sajnani@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="RedHunt_AlwaysShip"/>
</config>
